ul{list-style: none;
    
    padding:20px,30px;
    margin:0px;
}
ul li {color: white;
    align-content: center;
    background-color:lightcyan;
float: left;
    width: 150px;
border: 1px solid white;
    height: 30px;
text-align: center;
    line-height: 30px;
}