ul{list-style: none;
    
    margin:0px;
}
ul li {color: white;
    align-content: center;
    background-color:lightcyan;
float: left;
    width: 150px;

    height: 30px;
text-align: center;
    line-height: 30px;
}